
  <%= semantic_form_for @order do |f| %>
  <%= f.inputs do %>
  <%= f.collection_select :customer_list, Customer.all, :id, :name, prompt:true %>
  <%= f.input :invoice_no %>
  <%= f.input :invoice_date %>
  <%= f.input :tax %>
    <%end %>

<!--  %h3 Tasks-->
<!--  #tasks-->
  <%= f.semantic_fields_for :line_items do |line_items| %>
  <%#= render 'line_item_fields', f: line_items %>
      <div class='links'>
        <%= link_to_add_association 'add task', f, :line_items %>
      </div>

  <%= f.actions do  %>
  <%= f.action :submit  %>

  <div id='tasks'></div>
      <%end %>
    <%end %>
<% end %>