
<%if current_user.role=="Manager" %>


  <h1 class="heading">Orders</h1>
  <table class="table table-striped table-hover space">
    <thead class="thead-light">

    <th>Customer</th>
    <th>Invoice No</th>
    <th>Invoice Date</th>
    <th>Tax</th>
    <th>Order No</th>
    <th>Order Details</th>
    <th></th>
    <th>Sub Total</th>

    </thead>
    <tbody>

    <%@orders.each do |o| %>
<!--        <td><%#=o.customer_list %></td>-->
      <tr>
        <% order = o.customer_list %>

        <%abc= Customer.find_by(order) %>
        <%line_items = Order.find_by(line_items) %>
        <td><%= abc.name%></td>
        <td><%= o.invoice_no%></td>
        <td><%= o.invoice_date%></td>
        <td><%= o.tax%>%</td>
        <td><%= o.id%></td>
        <% line=o.line_items%>
        <td>
          <ul>
        <%line.each do |line| %>
      <li> price: <%= line.price%></li>
         <li> quantity: <%=  line.quantity%></li>
        <% end%>
      </ul>
      </td>
        <%# s = p.supplied_by %>

        <%#supplier_name= Supplier.find_by(s) %>

<!--        <td><%#=supplier_name.name%></td>-->


<!--        <td><%#= link_to 'Edit', edit_product_path(p)%></td>-->
        <td><%= link_to 'delete',
                        { controller: "orders", action: "destroy", id: o.id },
                        data: { confirm: 'Are you sure?' },
                        method: :delete, class:"icon_color" %>
        </td>
    <%end %>
    </tr>
    </tbody>
  </table>
  <%= link_to 'New Order', new_order_path  %>

<%end %>

