<!DOCTYPE html>
<html>
  <head>
    <title>Simple login form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      display: flex;
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      }
      form {
      border: 5px solid #f1f1f1;
      margin-top: 25px;
      }
      input[type=text], input[type=password], input[type=email] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      .login {
      background-color: #8ebf42;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grabbing;
      width: 100%;
      }
      h1 {
      text-align:center;
      fone-size:18;
      }
      button:hover {
      opacity: 0.8;
      }
      .formcontainer {
      text-align: left;
      margin: 24px 50px 12px;
      }
      .container {
      padding: 16px 0;
      text-align:left;
      }
      span.psw {
      float: right;
      padding-top: 0;
      padding-right: 15px;
      }
      /* Change styles for span on extra small screens */
      @media screen and (max-width: 300px) {
      span.psw {
      display: block;
      float: none;
      }
    </style>
  </head>
  </html>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<h2><span class="bi bi-lock"></span>Login Form</h2>
  <div class="formcontainer">
  <hr/>
  <div class="container">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  </div>
  <div class="field">
      <label style="padding-left: 15px">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </label>
  </div>
  <div class="actions"> 
    <%= f.submit "Log in", class: "login" %>
  </div>
  </div>
  <div class="container" style="margin-left: 50px">

    <% if devise_mapping.rememberable? %>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
<% end %>
