<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<h3>Login Form</h3>
  <div class="formContainer">
  <hr/>
  <div class="container">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  </div>
  <div class="field">
    <label style="padding-left: 15px">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </label>
  </div>
  <div class="actions"> 
    <%= f.submit "Log in", class: "login" %>
  </div>
  </div>
  <div class="container" style="margin-left: 50px">

    <% if devise_mapping.rememberable? %>
    <% end %>
    <%= render "devise/shared/links" %>
    </div>
<% end %>
